.footer{
    width: 100vw;
    color: beige;
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: center;

    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 3;
}