
.boxWrapper{ 
    display: flex;
    width: 100vw;
    justify-content: space-around;
    position: relative;
}
  
.video{
    height: 85vh;
    width: 100vw;
    filter: saturate(0);
    object-fit: cover;
}

.title{
    position: absolute;
    margin-left: 50px;
    color: beige;
    top: 150px;
    left: 0;

}
.slogan{
    position: absolute;
    margin-left: 50px;
    top: 250px;;
    left: 0;
    color: beige;
}
  