.addFood{
    width: 90vw;
    height: 100vh;
    margin: auto;

    display: flex;
    align-items: center;
    justify-content: center;

    overflow: scroll;

}

.form{
    width: 90vw;
}

.input2,
.input1{
    max-width: 250px;
    width: 45vw;
}

.spaced{
    display: flex;
    justify-content: space-between;
    margin-bottom: 5px;
}
.ingredientsArea{
    display: flex;
    flex-direction: column;
}
.spacedIngredients{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.division{
    width: 95%;
    margin: 5px;
    border-style: solid;
    border-color: rgb(97, 2, 2);
    border-width: 2px;
}