.addFood{
    margin: 10px;
    display: flex;
    justify-content: center;
    align-items: center;

    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
}

.input2,
.input1{
    width: 250px;
}

.spaced{
    display: flex;
    justify-content: space-between;
    margin-bottom: 5px;
}
.ingredientsArea{
    display: flex;
    flex-direction: column;
}
.spacedIngredients{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.division{
    width: 95%;
    margin: 5px;
    border-style: solid;
    border-color: rgb(97, 2, 2);
    border-width: 2px;
}